<div class="main-left-sidebar no-margin">
    <div class="user-data full-width">
        <div class="user-profile">
            <div class="username-dt">
                <div class="usr-pic">
                    <img src="assets/images/logoaa.png" alt="">
                </div>
            </div>
            <!--username-dt end-->
            <div class="user-specs">
                <h3>Angeluz</h3>
                <span>Seja o Anjo da Guarda para um de nossos animais,
                adote hoje o seu melhor amigo!
                </span>
            </div>
        </div>

        <!--user-profile end-->
        <ul class="user-fw-status">
            <li>
                <h4>Animais para Adoção</h4>
                <span>{{qanimal}}</span>
            </li>
            <li>
                <h4>Usuários Cadastrados</h4>
                <span>{{qusuario}}</span>
            </li>
            <li>
                <a href="#" title="">View Profile</a>
            </li>
        </ul>
    </div>

</div>
<!--main-left-sidebar end-->