<div class="main-left-sidebar no-margin">
    <div class="user-data full-width">
        <div class="user-profile">
            <div class="username-dt">
                <div class="usr-pic">
                    <img src="http://via.placeholder.com/100x100" alt="">
                </div>
            </div>
            <!--username-dt end-->
            <div class="user-specs">
                <h3>John Doe</h3>
                <span>Graphic Designer at Self Employed</span>
            </div>
        </div>

        <!--user-profile end-->
        <ul class="user-fw-status">
            <li>
                <h4>Following</h4>
                <span>34</span>
            </li>
            <li>
                <h4>Followers</h4>
                <span>155</span>
            </li>
            <li>
                <a href="#" title="">View Profile</a>
            </li>
        </ul>
    </div>

</div>
<!--main-left-sidebar end-->