<div class="main-ws-sec">

    <!--post-topbar end-->
    <div *ngFor="let d of animais" class="posts-section">

        <div class="post-bar">
            <div class="post_topbar">
                <div class="usy-dt">
                    <img src="assets/images/animals/{{d.tipo}}.png" alt="">
                    <div class="usy-name">
                        <h3>{{d.usuario.nome}}</h3>
                        <span><img src="assets/images/template/clock.png"
                                alt="">{{utilsService.dateTimeDB2BR(d.criadoEm)}}</span>
                    </div>
                </div>
                <li><a href="#" (click)="updateStatus(d, true)" title="">Adotar</a></li>
                <div class="ed-opts">
                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                    <ul class="ed-options">
                        <li><a href="#" title="">Editar</a></li>
                    </ul>
                </div>
            </div>
            <div class="job_descp">
                <h3>Nome: {{d.nome}}</h3>
                <!-- <div *ngIf="d.adotado; else elseBlock">Status: Adotado</div>
                <ng-template #elseBlock>Status: Disponivel</ng-template> -->
                <p>{{d.adotado}}</p>

                <ul class="skill-tags">
                    <li><a href="#" title="">Porte: {{d.porte}}</a></li>
                    <li><a href="#" title="">Sexo: {{d.sexo}}</a></li>
                    <li><a href="#" title="">Idade: {{d.idade}}</a></li>
                </ul>
            </div>
        </div>
        <!--top-profiles end-->

    </div>
    <!--posts-section end-->

</div>
<!--main-ws-sec end-->