<div class="main-ws-sec">

    <div class="post-topbar">
        <div class="post-st">
            <ul>
                <li><a class="post_project" href="#" title="">Cadastrar Animal</a></li>
                <li><a class="post-jb active" href="#" title="">Cadastrar Usuario</a></li>
            </ul>
        </div><!--post-st end-->
    </div><!--post-topbar end-->

    <!--post-topbar end-->
    <div *ngFor="let d of animais" class="posts-section">

        <div class="post-bar">
            <div class="post_topbar">
                <div class="usy-dt">
                    <img src="http://via.placeholder.com/50x50" alt="">
                    <div class="usy-name">
                        <h3>{{d.usuario.nome}}</h3>
                        <span><img src="assets/images/clock.png" alt="">{{utilsService.dateTimeDB2BR(d.criadoEm)}}</span>
                    </div>
                </div>
                <div class="ed-opts">
                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                    <ul class="ed-options">
                        <li><a href="#" title="">Editar</a></li>
                        <li><a href="#" title="">Adotar</a></li>
                    </ul>
                </div>
            </div>
            <div class="job_descp">
                <h3>Nome: {{d.nome}}</h3>
                <p>{{d.descricao}}</p>

                <ul class="skill-tags">
                    <li><a href="#" title="">Porte: {{d.porte}}</a></li>
                    <li><a href="#" title="">Sexo: {{d.sexo}}</a></li>
                    <li><a href="#" title="">Idade: {{d.idade}}</a></li>
                </ul>
            </div>
        </div>
        <!--top-profiles end-->

    </div>
    <!--posts-section end-->

</div>
<!--main-ws-sec end-->


<app-cadastrar-animal></app-cadastrar-animal>

<app-cadastrar-usuario></app-cadastrar-usuario>