<div class="wrapper">

    <div class="sign-in-page">
        <div class="signin-popup">
            <div class="signin-pop">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login-sec">
                            <ul class="sign-control">
                                <li data-tab="tab-1" class="current"><a href="#" title="">Acessar</a></li>
                                <li data-tab="tab-2"><a href="#" title="">Cadastrar</a></li>
                            </ul>
                            <div class="sign_in_sec current" id="tab-1">

                                <h3>Acessar</h3>
                                <form>
                                    <div class="row">
                                        <div class="col-lg-12 no-pdd">
                                            <div class="sn-field">
                                                <input type="text" name="username" placeholder="Username">
                                                <i class="la la-user"></i>
                                            </div>
                                            <!--sn-field end-->
                                        </div>
                                        <div class="col-lg-12 no-pdd">
                                            <div class="sn-field">
                                                <input type="password" name="password" placeholder="Password">
                                                <i class="la la-lock"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 no-pdd">
                                            <button type="submit" value="submit">Ok</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="sign_in_sec" id="tab-2">
                                <!--signup-tab end-->
                                <div class="dff-tab current" id="tab-3">
                                    <h3>Criar Conta</h3>
                                    <app-cadastrar-usuario></app-cadastrar-usuario>
                                </div>

                            </div>
                        </div>
                        <!--login-sec end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="cmp-info">
                            <div class="cm-logo">
                                <img src="images/cm-logo.png" alt="">
                            </div>
                            <img src="assets/images/system/bg.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--signin-pop end-->
        </div>
        <!--signin-popup end-->
        <div class="footy-sec">
            <div class="container">
                <p><img src="assets/images/template/copy-icon.png" alt="">Copyright 2020</p>
            </div>
        </div>
        <!--footy-sec end-->
    </div>
    <!--sign-in-page end-->


</div>
<!--theme-layout end-->