<header>
    <div class="container">
      <div class="header-data">
        <div class="logo">
          <a href="index.html" title=""><img src="assets/images/logo.png" alt=""></a>
        </div>
        <!--logo end-->

        <div class="search-bar">
          
        </div>
        <!--search-bar end-->
        
<!--       <nav>
          <ul>
            <li>
              <a href="index.html" title="">
                <span><img src="assets/images/icon1.png" alt=""></span>
                Feed
              </a>
            </li>
            <li>
              <a href="index.html" title="">
                <span><img src="assets/images/icon3.png" alt=""></span>
                Login
              </a>
            </li>
          </ul>
        </nav>
        nav end-->

        <!--<div class="menu-btn">
          <a href="#" title=""><i class="fa fa-bars"></i></a>
        </div>
        menu-btn end-->
        
      </div>
      <!--header-data end-->
    </div>
  </header>
  <!--header end-->