<header>
  <div class="container">
    <div class="header-data">
      <div class="logo">
        <a href="/app" title=""><img src="assets/images/system/ANGELUZLOGO.png" alt="" height="10%"></a>
      </div>
      <!--logo end-->

      <div class="search-bar">

      </div>
      <!--search-bar end-->

      <!-- <nav>
        <ul>
          <li>
            <a href="index.html" title="">
              <span><img src="assets/images/icon1.png" alt=""></span>
              Feed
            </a>
          </li>
          <li>
            <a href="index.html" title="">
              <span><img src="assets/images/icon3.png" alt=""></span>
              Login
            </a>
          </li>
        </ul>
      </nav> -->

      <div class="menu-btn">
        <a href="#" title=""><i class="fa fa-bars"></i></a>
      </div>

      <div class="user-account">
        <div class="user-info">
          {{userName}}
          <i class="la la-sort-down"></i>
        </div>
        <div class="user-account-settingss">
          <h3 class="tc"><a [routerLink]="" (click)="logout()">Logout</a></h3>
        </div>
      </div>

    </div>
    <!--header-data end-->
  </div>
</header>
<!--header end-->