<div class="wrapper">

    <app-header></app-header>

    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">

                        <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                            <app-user-info></app-user-info>
                        </div>

                        <div class="col-lg-9 col-md-8 no-pd">
                            <router-outlet></router-outlet>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- main-section-data end-->
    </main>

</div>