<div class="pst-pj">
    <div class="post-project">
        <h3>Cadastrar Animal</h3>
        <div class="post-project-fields">
            <form [formGroup]="angForm" novalidate>

                <div class="col-lg-12">
                    <div *ngIf="angFormError">
                        <div class="alert alert-danger">
                            {{angFormErrorMessage}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <input type="text" name="id" placeholder="Código" [(ngModel)]="animal.id" formControlName="id">

                    <div *ngIf="angForm.controls['id'].invalid && (angForm.controls['id'].dirty || angForm.controls['id'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['id'].errors.required">
                            Preenchimento obrigatório
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <input type="text" name="nome" placeholder="Nome do Animal" [(ngModel)]="animal.nome"
                        formControlName="nome">

                    <div *ngIf="angForm.controls['nome'].invalid && (angForm.controls['nome'].dirty || angForm.controls['nome'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['nome'].errors.required">
                            Preenchimento obrigatório
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">

                    <select name="tipo" [(ngModel)]="animal.tipo" formControlName="tipo">
                        <option value='' [selected]="true">Tipo</option>
                        <option value="CACHORRO">Cachorro</option>
                        <option value="GATO">Gato</option>
                        <option value="AVE">Ave</option>
                    </select>

                    <div *ngIf="angForm.controls['tipo'].invalid && (angForm.controls['tipo'].dirty || angForm.controls['tipo'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['tipo'].errors.required">
                            Preenchimento obrigatório
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <input type="text" name="idade" placeholder="Idade" [(ngModel)]="animal.idade"
                        formControlName="idade">

                    <div *ngIf="angForm.controls['idade'].invalid && (angForm.controls['idade'].dirty || angForm.controls['idade'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['idade'].errors.required">
                            Preenchimento obrigatório
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <select name="porte" [(ngModel)]="animal.porte" formControlName="porte">
                        <option value='' [selected]="true">Porte</option>
                        <option value="PEQUENO">Pequeno</option>
                        <option value="MÉDIO">Médio</option>
                        <option value="GRANDE">Grande</option>
                    </select>

                    <div *ngIf="angForm.controls['porte'].invalid && (angForm.controls['porte'].dirty || angForm.controls['porte'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['porte'].errors.required">
                            Preenchimento obrigatório
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <select name="sexo" [(ngModel)]="animal.sexo" formControlName="sexo">
                        <option value='' [selected]="true">Sexo</option>
                        <option value="MACHO">Macho</option>
                        <option value="FÊMEA">Femea</option>
                    </select>

                    <div *ngIf="angForm.controls['sexo'].invalid && (angForm.controls['sexo'].dirty || angForm.controls['sexo'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['sexo'].errors.required">
                            Preenchimento obrigatório
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <textarea name="descricao" placeholder="Descrição" [(ngModel)]="animal.descricao"
                        formControlName="descricao"></textarea>

                    <div *ngIf="angForm.controls['descricao'].invalid && (angForm.controls['descricao'].dirty || angForm.controls['descricao'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['descricao'].errors.required">
                            Preenchimento obrigatório
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <button type="submit" (click)="create()" [disabled]="angForm.pristine || angForm.invalid"
                        class="btn btn-success">
                        Cadastrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>