<div class="post-popup job_post">
    <div class="post-project">
        <h3>Cadastrar Animal</h3>
        <div class="post-project-fields">
            <form>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" name="nome" placeholder="Nome do Animal">
                    </div>
                    <div class="col-lg-12">
                        <div class="inp-field">
                            <select name="tipo">
                                <option>Tipo</option>
                                <option value="CACHORRO">Cachorro</option>
                                <option value="GATO">Gato</option>
                                <option value="AVE">Ave</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <input type="text" name="idade" placeholder="Idade">
                    </div>
                    <div class="col-lg-12">
                        <div class="inp-field">
                            <select name="porte">
                                <option>Porte</option>
                                <option value="PEQUENO">Pequeno</option>
                                <option value="MÉDIO">Médio</option>
                                <option value="GRANDE">Grande</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="inp-field">
                            <select name="sexo">
                                <option>Sexo</option>
                                <option value="MACHO">Macho</option>
                                <option value="FÊMEA">Femea</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <textarea name="descricao" placeholder="Descrição"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li><button class="active" type="submit" value="post">Cadastrar</button></li>
                            <li><a href="#" title="">Cancelar</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div><!--post-project-fields end-->
        <a href="#" title=""><i class="la la-times-circle-o"></i></a>
    </div><!--post-project end-->
</div><!--post-project-popup end-->
