<div class="pst-pj">
    <div class="post-project">
        <h3>Inserir nova postagem</h3>

        <div class="col-lg-12">
            <div *ngIf="angFormError">
                <div class="alert alert-danger">
                    {{angFormErrorMessage}}
                </div>
            </div>
        </div>

        <div class="post-project-fields">
            <h3>Selecione um de seus animais</h3>
            <div class="suggestions-list">
                <div class="suggestion-usd" *ngFor="let animal of animaisDoUsuario">
                    <div class="sgt-text">
                        <h4>{{animal.nome}}</h4>
                    </div>
                    <span><i class="la la-plus" (click)="addAnimal(animal)"></i></span>
                </div>
            </div>
            <!--suggestions-list end-->


            <form [formGroup]="angForm" novalidate>
                <h3>Descrição da Postagem</h3>
                <div class="col-lg-12">
                    <textarea name="descricao" placeholder="Descrição" [(ngModel)]="post.descricao"
                        formControlName="descricao"></textarea>

                    <div *ngIf="angForm.controls['descricao'].invalid && (angForm.controls['descricao'].dirty || angForm.controls['descricao'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['descricao'].errors.required">
                            Preenchimento obrigatório
                        </div>
                    </div>
                </div>
                <h3>Animais Selecionados</h3>
                <div class="suggestions-list">
                    <div class="suggestion-usd" *ngFor="let animal of animaisDoPost">
                        <div class="sgt-text">
                            <h4>{{animal.nome}}</h4>
                            <span>{{animal.descricao}}</span>
                        </div>
                    </div>
                </div>
                <!--suggestions-list end-->


                <div class="col-lg-12">
                    <button type="submit" (click)="create()" [disabled]="angForm.pristine || angForm.invalid"
                        class="btn btn-success">
                        Cadastrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>