<div id="page-landing">
    <div id="container">
        <div>
            <img class="animate-up" id="logo" src="assets/images/system/ANGELUZLOGO.png" alt="Logomarca de Angeluz">

            <div class="location animate-up">
                <strong>Dev Web II</strong>
                <p>BSI - Positivo</p>
            </div>
        </div>

        <main>
            <h1 class="animate-up">Seja um Anjo da Guarda</h1>

            <section class="visit">
                <p class="animate-up">Adote hoje o seu melhor Amigo</p>

                <a routerLink="/login" title="Conheça nossos Animais" class="animate-up">
                    <img src="assets/images/system/arrow.svg" alt="Faça o Login!" />
                </a>
            </section>
        </main>
    </div>
</div>