<div class="post-popup job_post">
    <div class="post-project">
        <h3>Cadastrar Usuario</h3>
        <div class="post-project-fields">
            <form>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" name="nome" placeholder="Nome do Usuario" [(ngModel)]="usuario.nome">
                    </div>
                    <div class="col-lg-12">
                        <input type="text" name="cpf" placeholder="Cpf" [(ngModel)]="usuario.cpf">
                    </div>
                    <div class="col-lg-12">
                        <input type="text" name="endereco" placeholder="Endereço" [(ngModel)]="usuario.endereco">
                    </div>
                    <div class="col-lg-12">
                        <input type="text" name="telefone" placeholder="Telefone" [(ngModel)]="usuario.telefone">
                    </div>
                    <div class="col-lg-12">
                        <input type="text" name="email" placeholder="Email" [(ngModel)]="usuario.email">
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li><button (click)="create()">Cadastrar</button></li>
                            <li><a href="#" title="">Cancelar</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div><!--post-project-fields end-->
        <a href="#" title=""><i class="la la-times-circle-o"></i></a>
    </div><!--post-project end-->
</div><!--post-project-popup end-->
